* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}

:root {
  --primary-color: rgba(255, 144, 14, 1);
  --title-color: rgba(19, 19, 19, 1);
  --paragraph-color: rgba(114, 114, 114, 1);
  --menu-color: rgba(66, 66, 66, 1);
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

/* Header area css */

.header__area {
  padding: 20px 0;
  background-color: rgba(255, 144, 14, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__area a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: var(--title-color);
}

.menu__area ul {
  display: flex;
  column-gap: 40px;
}

.menu__area ul li {
  list-style: none;
}

.menu__area ul li a {
  text-decoration: none;
  font-size: 17px;
  color: var(--menu-color);
  font-weight: 500;
}

/* Banner area css */

.banner__area {
  padding: 50px 0 30px 0;
  background-color: rgba(255, 144, 14, 0.1);
}

.banner__top {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.banner__top h1 {
  font-size: 50px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.banner__top p {
  color: var(--paragraph-color);
  line-height: 26px;
  margin-bottom: 30px;
}

.banner__img {
  margin-top: 30px;
}

/* Teams area css */

.teams__area {
  padding: 50px 0;
}

.teams__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.teams__left {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.teams__right {
  width: 50%;
}

.teams__right h3 {
  font-size: 35px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.teams_title_first {
  color: var(--paragraph-color);
  font-weight: 500;
}

.teams_title_second {
  color: var(--primary-color);
}

.teams__right p {
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: 26px;
  margin-bottom: 20px;
}

/* Feature area css */

.feature__area {
  padding: 50px 0;
}

.feature__content {
  display: flex;
  justify-content: space-between;
}

.feature__left {
  width: 47%;
}

.feature__right {
  width: 45%;
}

.feature__left h2 {
  font-size: 35px;
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 20px;
  border-left: 4px solid var(--primary-color);
  padding-left: 20px;
}

.feature__left p {
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: 26px;
  margin-bottom: 30px;
}

.feature__card {
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.feature__card h3 {
  font-size: 18px;
  color: var(--title-color);
  margin-bottom: 10px;
}

.feature__card p {
  margin-bottom: 0;
}

.feature__img {
  position: relative;
}

.feature__img__box {
  background-color: var(--primary-color);
  display: inline-block;
  padding: 20px;
  border-radius: 8px;
  color: white;
  text-align: center;
  position: absolute;
  bottom: -5%;
  left: -10%;
}

.feature__img__box h4 {
  font-size: 40px;
}

/* Fact area css */

.fact__area {
  padding: 50px 0;
}

.fact__upper h2 {
  font-size: 35px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.fact__upper p {
  color: var(--paragraph-color);
  line-height: 26px;
  width: 560px;
}

.fact__display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-top: 60px;
}

.fact__card {
  padding: 30px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  text-align: center;
}

.fact__card img {
  width: 50px;
}

.fact__card h4 {
  font-size: 30px;
  color: var(--menu-color);
  margin: 5px 0;
}

.fact__card p {
  font-weight: 600;
  color: var(--paragraph-color);
}

/* Sponsor area css */

.sponsor__area {
  padding: 50px 0;
}

.sponsor__upper {
  text-align: center;
}

.sponsor__upper h2 {
  font-size: 35px;
  color: var(--title-color);
  margin-bottom: 20px;
}

.sponsor__upper p {
  color: var(--paragraph-color);
  line-height: 26px;
  width: 560px;
  margin: 0 auto;
}

.sponsor__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.sponsor img {
  width: 120px;
  filter: grayscale(100%);
}

.footer {
  padding: 50px 0;
}

.footer__content {
  background-color: rgba(255, 244, 231, 1);
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  color: var(--menu-color);
}

/** responsive design css */

/** Tablet device */
@media screen and (min-width: 200px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }

  .banner__top {
    width: 90%;
  }

  .banner__top h1 {
    font-size: 40px;
  }
}

/* Mobile device  */

@media screen and (min-width: 200px) and (max-width: 576px) {
  .menu__area ul {
    column-gap: 20px;
  }

  .menu__area ul li a {
    font-size: 15px;
  }

  .banner__top {
    width: 100%;
  }

  .banner__top h1 {
    font-size: 28px;
  }

  .banner__top p {
    font-size: 15px;
  }

  .teams__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }
  .teams__content {
    flex-direction: column;
  }

  .teams__left {
    width: 100%;
    gap: 10px;
  }

  .teams__right {
    width: 100%;
  }

  .feature__content {
    flex-direction: column;
  }

  .feature__left {
    width: 100%;
  }

  .feature__right {
    width: 100%;
  }

  .fact__upper p {
    width: 100%;
  }

  .fact__display {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .fact__card {
    padding: 20px;
  }

  .sponsor__upper p {
    width: 100%;
  }

  .sponsor__display {
    gap: 30px;
  }
}
